{{ $thisPost := .RelPermalink }}
{{ $comments := .Site.Data.comments }}
{{ $.Scratch.Set "counter" 0 }}
{{ range $comments }}
    {{ range . }}{{ if eq .path $thisPost }}{{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}{{ end }}{{ end }}
{{ end }}
{{ if gt ($.Scratch.Get "counter") 0 }}{{/*  only show comment section if there are comments  */}}
    <div class="columns is-multiline">
    {{ range $comments }}
        {{ range . }}
            {{ if eq .path $thisPost }}
            <div class="column is-full" style="border-bottom:1px solid #eee;">
                <div class="content">
                    <p class="is-size-6">{{ .comment }}</p>
                    <small><span>By <strong>{{ .name }}</strong></span><span> on {{ .date | dateFormat "Jan 2, 2006" }}</span></small>
                </div>
            </div>
            {{ end }}
        {{ end }}
    {{ end }}
    </div>
{{ end }}