<form name="Comments" action="/comment-thanks" method="POST" netlify-honeypot="bot-field" netlify>
    <input name="bot-field" type="hidden"/>
    <input name="path" type="hidden" value="{{ .RelPermalink }}">
    <div class="field">
      <div class="control">
        <input class="input" type="text" placeholder="Heading" name="Heading" required>
      </div>
    </div>
    <div class="field is-horizontal">
        <div class="field-body">
            <div class="field">
                <p class="control is-expanded">
                    <input class="input" type="text" placeholder="Name" name="Name" required>
                  </p>
            </div>
            <div class="field">
                <div class="control">
                  <input class="input" type="email" placeholder="email" name="Email" required>
                </div>
              </div>
        </div>
    </div>
    <div class="field">
      <div class="control">
        <textarea class="textarea" placeholder="Your Review" name="Comment" required></textarea>
      </div>
    </div>

    <div class="control">
      <button class="button" style="width:100%;">Submit</button>
    </div>
  </form>