{{ $featuredOne := .Site.Data.design.home_layout.featured.featured_one }}
{{ $featuredTwo := .Site.Data.design.home_layout.featured.featured_two }}
{{ $featuredThree := .Site.Data.design.home_layout.featured.featured_three }}
{{ $featuredFour := .Site.Data.design.home_layout.featured.featured_four }}
<div class="section">
    <div class="container is-fluid">
        <div class="columns is-variable is-2">
            <div class="column">
                <a href="{{ $featuredOne.link }}">
                    <div class="featured" style="background:url({{ $featuredOne.image }}) no-repeat center;background-size:cover;height:250px;border-radius: 8px;">
                        <h3 class="head is-5 has-text-weight-normal featured-heading">{{ $featuredOne.heading }}</h3>
                    </div>
                </a>
            </div>
            <div class="column">
                <a href="{{ $featuredTwo.link }}">
                    <div class="featured" style="background:url({{ $featuredTwo.image }}) no-repeat center;background-size:cover;height:250px;border-radius: 8px;">
                        <h3 class="head is-5 has-text-weight-normal featured-heading">{{ $featuredTwo.heading }}</h3>
                    </div>  
                </a>
            </div>
            <div class="column">
                <a href="{{ $featuredThree.link }}">
                    <div class="featured" style="background:url({{ $featuredThree.image }}) no-repeat center;background-size:cover;height:250px;border-radius: 8px;">
                        <h3 class="head is-5 has-text-weight-normal featured-heading">{{ $featuredThree.heading }}</h3>
                    </div>  
                </a>
            </div>
            <div class="column">
                <a href="{{ $featuredFour.link }}">
                    <div class="featured" style="background:url({{ $featuredFour.image }}) no-repeat center;background-size:cover;height:250px;border-radius: 8px;">
                        <h3 class="head is-5 has-text-weight-normal featured-heading">{{ $featuredFour.heading }}</h3>
                    </div>  
                </a>
            </div>
        </div>
    </div>
</div>