{{ $hero := .Site.Data.design.home_slideshow }}
<section class="hero is-fullheight">
{{ partial "global/navbar" . }}
  
    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
      <div class="container has-text-left">
        <div class="columns is-variable is-0">
            <div class="column is-6">
                <h4 class="title is-1 is-size-3-mobile gradient-heading">{{ $hero.hero_subtitle }}</h4>
                <h1 class="title hero-title mb-6 is-size-3-mobile">
                  CorWink Cosmetics
                  </h1>
                  <h2 class="mt-3 is-size-6-mobile title is-4">
                    {{- $hero.body | markdownify -}}
                  </h2>
                  <div class="is-block">
                      <a href="{{ $hero.button_link }}" class="hero-btn">{{ $hero.button_text }}</a>
                  </div>
            </div>
            <div class="column">
              <div>
                <img src="https://res.cloudinary.com/hungryram19/image/upload/v1609121737/corinne-renteria/corwinkcosmetics/img_1096-2_ojgzfn.jpg" alt="">
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>
