{{ define "main" }}
<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h4 class="title is-6 has-text-weight-normal has-text-centered">Thank you so much for your review! It'll be posted to the website shortly!</h4>
                <div class="is-block has-text-centered mt-6">
                    <a href="/products" class="button">Browse the shop</a>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}